@CHARSET "UTF-8";

* {
	border: 0 none;
	margin: 0 auto;
	padding:0;	
	border-box:border-box;
}


body {
	background: #fdfcf8 none repeat scroll 0 0 ;
	border: 0 none;
	margin: 0 auto;
	padding: 0;
	font-size: 14px;
}

div#daophp {	
	border: 0 none;
	margin: 0 auto;
	padding: 0;
	width: 100%;	
}

